<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Martin Banks
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='/public/app.css')
		block fonts
			//- include partial/fonts.pug
		
	body
		block header
			//- include partials/nav.pug
					
		section#app.wrapper
			div.content
				block content
					div.translator
						div.header
							h1 Project babelfish
							p Okay, not an original name but here is my simple language translator
							p Choose you language, hit the button and then talk... the translation will be played back and printed out
						div.languages__to Languages loading
						div.listenButton.listen
							//- img(src="/public/circle.svg")
							img(src="/public/mic.svg")
						//- button.listen Start translating

						p.italic.translation


		block footer
			//- include partial/footer.pug

		block scripts
			script(src="/public/socket.io.js")
			script(src="/public/app.js")
