<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Martin Banks
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='/public/app.css')
		block fonts
			//- include partial/fonts.pug
		
	body
		block header
			//- include partials/nav.pug
					
		section.wrapper
			div.content
				block content
					div.translator
						div.languages__to Languages loading
						button.listen Start translating

						p.translation


		block footer
			//- include partial/footer.pug

		block scripts
			script(src="/public/socket.io.js")
			script(src="/public/app.js")
