* {
  box-sizing: border-box;
  font-family: sans-serif;
  
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}

p.italic {
  font-style: italic;
}

.header { 
  margin-bottom: 40px;
}

section.wrapper {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 4vw;
}

.content {
  /*display: flex;*/
  /* width: 100%; */
  /* height: 100%; */
  /* background: white; */
  /* border: solid 1px #ccc; */
  /* padding: 32px; */
  /* border-radius: 8px; */
  /* overflow: scroll; */
}

.translator {
  position: relative;
  top: 0;
  transform: translateY(0);
}

select {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 50px;
  padding: 16px 32px;
  margin: 0 auto;
  background: white;
  font-size: 16px;
}

.listenButton {
  transition: all 0.3s ;
  position: relative;
  width: 40vw;
  height: 40vw;
  max-width: 300px;
  max-height: 300px;
  margin: 32px auto;
  cursor: pointer;
  border: solid 1px #e2e2e2;
  border-radius: 100%;
}

[data-mobile=false] .listenButton:hover {
  border-width: 10px;
  border-color: #bada55;
}

.listenButton img {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

